<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">John Williams</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/johnwilliams.jpeg" />
    </div>
    <div class="col-sm-9">
      <p>
        John Towner Williams was born on February 8, 1932, in Floral Park, NY.
        John is known in modern society as the greatest film composer of all time.
        He has composed some of the most popular and recognizable film scores in cinematic history, spanning over 60 years.
        Williams has received a variety of prestigious awards, including Academy Awards, Grammy Awards, Emmy Awards and Golden Globe Awards.
        He is one of our nation’s most distinguished and contributive musical voices. Mr. Williams has composed the music and served as music
        director for more than one hundred films. John has 40-year artistic partnership with director Steven Spielberg has resulted in many of
        Hollywood’s most acclaimed and successful films, including Schindler’s List, E.T.: The Extra-Terrestrial, Jaws, Jurassic Park and so many more.
        Many may also recognize John's work on the all of the Star Wars soundtracks.


         <em class="apa-reference"><a href="https://johnwilliams.org/" target="_blank">John Williams Office Webpage</a></em>
      </p>
    </div>
  </div>
</div>
