<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/austen.png" height="400"/>
      </div>
      <div>
        <em>
          Photo by Britannica <a class="attribution-link" href="https://www.britannica.com/biography/Jane-Austen" target="_blank">Britannica</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Jane Austen's Pride & Predjudice</h1>
    <p>
      Pride and Prejudice follows the turbulent, sometimes convoluted and complicated relationship between Elizabeth Bennet, the daughter of a country gentleman,
      and Fitzwilliam Darcy, the rich aristocratic, owner of Pemberly, in Derbyshire, England. During the course of meeting, through a local ball and via an overzleous mother,
      they clash minds and thoughts immediately. Elizabeth is full of disdain for Mr. Darcy and his backwards un-polite manners. She forms an opinion of him and his behavior based on his
      silence and odd demeanor. Darcy, though he initially rejects the idea of Elizabeth being attractive, finds her intriguing, despite his opinions of her and her family.
      They must overcome the titular sins of pride and prejudice in order to fall in love and marry. They misunderstand each other and their own circumstatnaces.
      In the end, all is explained and matters handled though there are some rough patches along the way for both. It is a melencoly, yet rousing story about how we as humans
      can misunderstand sitatuions and form "good opinions" of people and sitations that may be lost and lost forever if we are not careful.
      This story is still relevant today in so many ways, perhaps even more so now in our tumultantulent times.
    </p>
    <em>Biography by:  <a href="https://www.janeausten.org/" target="_blank" class="attribution-link">Jane Austen Org</a></em>
  </div>
</div>
