<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Welcome to the Contact Us Page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">1515 Gryffin Street S.</li>
            <li class="list-group-item border-0">Dublin, OH 43016</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Direct: 740-382-1453</li>
              <li class="list-group-item border-0">Toll-free: 1-800-614-2110</li>
              <li class="list-group-item border-0">Fax: 740-387-5097</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
